@model E_knjiznica.Models.LoginViewModel

<h2>Prijava</h2>

<form asp-action="Login" method="post">
    <div>
        <label>Email:</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label>Lozinka:</label>
        <input asp-for="Password" type="password" />
    </div>
    <button type="submit">Prijavi se</button>
</form>
