@model E_knjiznica.Models.Book

<h2>Dodaj knjigu</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Author" class="form-label"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Genre" class="form-label"></label>
        <input asp-for="Genre" class="form-control" />
        <span asp-validation-for="Genre" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PublishedDate" class="form-label"></label>
        <input asp-for="PublishedDate" type="date" class="form-control" />
        <span asp-validation-for="PublishedDate" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Review" class="form-label"></label>
        <textarea asp-for="Review" class="form-control"></textarea>
        <span asp-validation-for="Review" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Spremi</button>
</form>
